<pluginMetaData path="tcssl">
    <name>Toby Connects SSL Plugin</name>
    <author>Tobias Heukäufer</author>
    <pluginVersion>0.2.0</pluginVersion>
    <mirthVersion>4.0.1</mirthVersion>
    <url>https://github.com/tobchen</url>
	<description>This plugin enables SSL in TCP connectors.</description>
	<serverClasses>
		<string>de.tobchen.tobyconnects.tcssl.TCSSLServicePlugin</string>
	</serverClasses>
    <clientClasses>
        <string>de.tobchen.tobyconnects.tcssl.TCSSLPropertiesPlugin</string>
	</clientClasses>
	<library type="SHARED" path="tcssl.jar" />
</pluginMetaData>
